<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="order_source_logger" type="Abc\FieldValidator\Plugin\OrderSourceLogger" />
    </type>
    <type name="Magento\Customer\Api\AccountManagementInterface">
        <plugin name="customer_account_logger" type="Abc\FieldValidator\Plugin\OrderSourceLogger" />
    </type>
</config>